<div class="wish_list_container" id="my_wish_list" style="">
    <div class="wish_card">
        <h4>make hello.page wuselig</h4>
        <div class="wish_card_container">
            todo-list and desicion
        </div>
    </div>
    <div class="wish_card">
        <h4>make hello.page wuselig</h4>
        <div class="wish_card_container">
            todo-list and desicion
        </div>
    </div>
    <div class="wish_card">
        <h4>make hello.page wuselig</h4>
        <div class="wish_card_container">
            todo-list and desicion
        </div>
    </div>

</div>
<style>

    .wish_card {
        position: relative;
        float: left;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: none;
        text-align: center;
        max-width: 200px;
        width: 30%;
        margin-right: 5px;
        font-size: 14px;
        display: block;
    }

    .wish_card:hover {
        background-color: #990096;
        text-color: #dddddd;
    }

    .wish_card_container {
        padding: 2px 16px;
    }


</style>
