{% extends 'layout.html' %}
{% block content %}
    {{ text }}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>
            <div class="form-group">
                {{ form.login_code.label(class="form-control-lable") }}
                {% if form.login_code.errors %}
                    {{ form.login_code(class="form-control form-control-sm is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.login_code.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.login_code(class="form-control form-control-sm") }}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </fieldset>
    </form>
    <div class="border-top pt-3">
    <small class="text-muted">
        no mfa? <a class="ml-2" href="{{ url_for('index') }}">go back</a>
    </small>
    </div>

{% endblock %}
